<footer class="page-footer font-small bg-warning footer-centre">


    <br>
    <h2 class="text-uppercase">ASTRAFILMS</h2>
    <p>Retrouvez tous vos films et séries sur l'espace sur Astrafilm.com</p>
    <p><img src="http://192.168.0.10:8082/ppe4/public/assets/icon/ui.png" alt="Logo" style="width:150px;"></p>




    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>


</footer>